name: Deploy API

on:
  push:
    branches: [master]
    paths:
      - "apps/api/**"
      - "libs/**"
      - "Dockerfile"
      - ".github/workflows/deploy-api.yml"

env:
  REGISTRY: ghcr.io
  IMAGE_NAME: envsync-api

jobs:
  build-and-deploy:
    runs-on: ubuntu-latest
    permissions:
      contents: read
      packages: write

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Lowercase Repo Owner
        run: |
          echo "REPO_OWNER=${GITHUB_REPOSITORY_OWNER,,}" >> $GITHUB_ENV

      - name: Log in to the Container registry
        uses: docker/login-action@v3
        with:
          registry: ${{ env.REGISTRY }}
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      # 3. Build and Push
      - name: Build and push
        uses: docker/build-push-action@v5
        with:
          context: .
          file: ./Dockerfile
          push: true
          tags: ${{ env.REGISTRY }}/${{ env.REPO_OWNER }}/${{ env.IMAGE_NAME }}:latest

      # 4. Deploy to AWS EC2
      - name: Deploy to EC2
        uses: appleboy/ssh-action@v1.0.3
        env:
          ENV_PRODUCTION: ${{ secrets.ENV_PRODUCTION }}
          REPO_OWNER: ${{ env.REPO_OWNER }}
          IMAGE_NAME: ${{ env.IMAGE_NAME }}
          REGISTRY: ${{ env.REGISTRY }}
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          GITHUB_ACTOR: ${{ github.actor }}
        with:
          host: ${{ secrets.AWS_HOST }}
          username: ubuntu
          key: ${{ secrets.AWS_SSH_KEY }}
          script_stop: true
          envs: ENV_PRODUCTION,REPO_OWNER,IMAGE_NAME,REGISTRY,GITHUB_TOKEN,GITHUB_ACTOR
          script: |
            FULL_IMAGE="$REGISTRY/$REPO_OWNER/$IMAGE_NAME:latest"

            echo "$ENV_PRODUCTION" > .env.production

            echo "$GITHUB_TOKEN" | docker login ghcr.io -u $GITHUB_ACTOR --password-stdin

            docker pull $FULL_IMAGE

            docker stop envsync-api || true
            docker rm envsync-api || true

            docker run -d \
              --env-file .env.production \
              -p 3000:3000 \
              --name envsync-api \
              --restart unless-stopped \
              $FULL_IMAGE

            docker image prune -f
